body{
    margin:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, lightpink, lightblue, lightgreen);
}

.form-container{
    border: 2px solid black;
    padding: 2rem;
    background-color: rgb(41, 109, 86);
}
.container{

margin: 1.5rem;

}
.container input{

    height: 1.5rem;
}
.form-container h2{

    margin-bottom: 3rem;
    padding: 0.4rem;
}