*{
    box-sizing: border-box;
}
body{
    /* background: white; */
    margin: 0;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,240,1) 56%, rgba(252,176,69,1) 100%);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.maincontainer{
    background-color: aliceblue;
    width:400px;
   }
header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header input{
    border-radius: 3px;
    padding: 0.5rem 1rem;
    border:none;
    background-color: rgb(231, 212, 212);
    font-family: inherit;
}
header button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
   margin-left: 10px;
    color: rgb(232, 178, 178);
}
img{
    max-width: 100%;
}
.favcontainer{
    
    padding:0.25rem 1rem;
    text-align: center;
    background-color: rgb(235, 200, 186);

}
.favmeals{
    display: flex;
    list-style-type: none;
    padding: 0px;
   
}
.meals{
    padding: 3px;
    
}
.meal{
    margin: 1.5rem;
    overflow: hidden;
    border-radius: 3px;
   

}
.mealheader{
    position: relative;
}

.favmeals li img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px rgb(57, 58, 56);
}
.favmeals li span{
    font-size: 0.9rem;
}
.favmeals li .libtn{

   background-color: red;
    border:none;
   
    cursor: pointer;
 

  
}
h4{
    margin: 0;
    font-size: x-large;
    text-align: center;
}
.mealbody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meals .meal .mealbody .active{
    color :rgb(35, 4, 64);
}
