body{
margin: 0;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: blueviolet;
font-family: 'Courier New', Courier, monospace;
}
.form-container{

border: 2px solid rgb(12, 12, 39);
padding: 3rem;
box-shadow: 0 4px 5px rgb(12, 12, 39) ;
}
.container{
margin: 1.5rem;
}
.container input{
    height: 1.5rem;
    background-color: rgb(54, 12, 94);
    color: white;
}
.container select{
    background-color: rgb(54, 12, 94) ;
    color: white;
}
#submit{
background-color: rgb(71, 32, 109);
padding: 0.6rem;
color: aliceblue;
border-radius: 7px;
box-shadow: 0,3px,2px rgb(12, 12, 39) ;
}


