body{
margin:0;
height: 100vh;
background-color: darkcyan;
text-align: center;
}
.maincontainer{
    margin: 30px;
    padding: 30px;
  
}
#textarea{
    width: 300px;
}
#textarea1{
    width: 2590px;
}